<% include headerLayout.ejs%>
<p>납작소바나 바질소바 둘 다 새로 접한 방식의 소바라 먹으면서 즐거웠다. </p>
<p>납작소바나 바질소바 둘 다 새로 접한 방식의 소바라 먹으면서 즐거웠다. </p>
<p>납작소바나 바질소바 둘 다 새로 접한 방식의 소바라 먹으면서 즐거웠다. </p>
<% include footerLayout.ejs%>
